---
layout: default
title: List of places
---

<table class="places-list">
    <thead>
        <tr>
            <th class="place-location">Location</th>
            <th class="place-name">Place</th>
            <th class="place-has-wifi"><a href="#" title="Wifi?"><i class="fa fa-fw fa-wifi"></i></a></th>
            <th class="place-has-outlets"><a href="#" title="Electric outlets?"><i class="fa fa-fw fa-plug"></i></a></th>
            <th class="place-has-food"><a href="#" title="Eating?"><i class="fa fa-fw fa-cutlery"></i></a></th>
            <th class="place-links">Links</th>
        </tr>
    </thead>
    <tbody>
    {% for place in site.places %}
        <tr>
            <td class="place-location">{{ place.location }}</td>
            <td class="place-name">
                <div class="place-name">
                    <a href="#" class="more-details">{{ place.title }}</a>
                </div>

                <div class="place-details">
                    <a href="#" class="hide-details"><i class="fa fa-fw fa-caret-square-o-up"></i></a>

                    <dl>
                        {% if place.address %}
                        <dt class="place-address">Address</dt>
                        <dd class="place-address">{{ place.address }}</dd>
                        {% endif %}

                        {% if place.content %}
                        <dt class="place-notes">Tips/Notes</dt>
                        <dd class="place-notes">{{ place.content }}</dd>
                        {% endif %}
                    </dl>
                </div>
            </td>
            <td class="place-has-wifi">
                {% if place.has contains 'wifi' %}<i class="fa fa-fw fa-check"></i>{% else %}<i class="fa fa-fw fa-ban"></i>{% endif %}
            </td>
            <td class="place-has-outlets">
                {% if place.has contains 'outlets' %}<i class="fa fa-fw fa-check"></i>{% else %}<i class="fa fa-fw fa-ban"></i>{% endif %}
            </td>
            <td class="place-has-food">
                {% if place.has contains 'food' %}<i class="fa fa-fw fa-check"></i>{% else %}<i class="fa fa-fw fa-ban"></i>{% endif %}
            </td>
            <td class="place-links">
                {% if place.links.url %}<a href="{{ place.links.url }}" target="_blank"><i class="fa fa-fw fa-external-link"></i></a>{% endif %}
                {% if place.links.foursquare %}<a href="{{ place.links.foursquare }}" target="_blank"><i class="fa fa-fw fa-foursquare"></i></a>{% endif %}
                {% if place.links.twitter %}<a href="{{ place.links.twitter }}" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>{% endif %}
                {% if place.links.facebook %}<a href="{{ place.links.facebook }}" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>{% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
